In [1]:
import pandas as pd

## Extract `Tables` from website

In [3]:
table = pd.read_html('https://en.wikipedia.org/wiki/State_of_Palestine')
table[0].head() #Using head method() to save time

,State of Palestineدولة فلسطين (Arabic) Dawlat Filasṭīn,State of Palestineدولة فلسطين (Arabic) Dawlat Filasṭīn.1
0,Flag Coat of arms,Flag Coat of arms
1,"Anthem: ""فدائي"" ""Fida'i""[1] ""Fedayeen Warrior""","Anthem: ""فدائي"" ""Fida'i""[1] ""Fedayeen Warrior"""
2,Territory claimed by Palestine (green).[2] Cla...,Territory claimed by Palestine (green).[2] Cla...
3,Status,UN observer state under Israeli occupation Rec...
4,Proclaimed capitalAdministrative center,Jerusalem (limited recognition)[a]Ramallah

### Extract `CSV` file from website

In [9]:
# Extracting columns
my_csv = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv').head()
my_csv

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [11]:
# Rename Columsn
my_csv.rename(columns={'sepal.length':'Lenght','sepal.width':'width'},inplace=True)
my_csv

   Lenght  width  petal.length  petal.width variety
0     5.1    3.5           1.4          0.2  Setosa
1     4.9    3.0           1.4          0.2  Setosa
2     4.7    3.2           1.3          0.2  Setosa
3     4.6    3.1           1.5          0.2  Setosa
4     5.0    3.6           1.4          0.2  Setosa

## Extract `Tables` from PDFs