In [3]:
cars : list[str] = ['volvo','bMW','Audi','MG','toyotta']

for c in cars:
    print(c)

print()
i : int = 0
while i<len(cars):
    print(cars[i])
    i+=1

volvo
bMW
Audi
MG
boyotta

volvo
bMW
Audi
MG
boyotta

In [4]:
cars : list[str] = ['volvo','bMW','Audi','MG','toyotta']

for c in cars:
    print(f"The car company is: {c.title()}")

The car company is: Volvo
The car company is: Bmw
The car company is: Audi
The car company is: Mg
The car company is: Toyotta

In [5]:
cars : list[str] = ['volvo','bMW','Audi','MG','toyotta']

for c in cars[2:]:
    print(c)

Audi
MG
toyotta

# Tuple

In [3]:
arr : list[tuple[int,str]] = [
    (1,"Talha"),
    (2,"Khizer"),
    (3,"Abrar")
    ]

for t in arr:
    print(t)

(1, 'Talha')
(2, 'Khizer')
(3, 'Abrar')

In [8]:
name,password = ('admin','123')
print(name)
print(password)

admin
123

In [10]:
database = [
        ("qasim",'123'),
        ("sirzia",'345'),
        ('ikhlas','789')
        ]

for tup in database:
    name,password = tup
    print('Name: ',name)
    print('Password: ',password)
    print()

Name:  qasim
Password:  123

Name:  sirzia
Password:  345

Name:  ikhlas
Password:  789

# Enumerate

In [5]:
magicians = ['alice', 'david', 'carolina']
# enumerate is a generator function -->  make iteratable object tuple and return along with its `index`
print(list(enumerate(magicians)))
# Also specify start index
print(list(enumerate(magicians,5)))


print(list(enumerate(['rhs','ducky','maaz']))) # Array
print(list(enumerate(('socerr','cricket','snooker')))) # tuple
print(list(enumerate([{'name':'jfdksl','age':23},{'name':'fjdsk','age':643}]))) #dictionary

[(0, 'alice'), (1, 'david'), (2, 'carolina')]
[(5, 'alice'), (6, 'david'), (7, 'carolina')]
[(0, 'rhs'), (1, 'ducky'), (2, 'maaz')]
[(0, 'socerr'), (1, 'cricket'), (2, 'snooker')]
[(0, {'name': 'jfdksl', 'age': 23}), (1, {'name': 'fjdsk', 'age': 643})]

# Table

In [7]:
num : int = int(input("Enter the numbe whose table you want to print: "))

for i in range(1,11):
    print(f"{num} * {i} = {num * i}")

23 * 1 = 23
23 * 2 = 46
23 * 3 = 69
23 * 4 = 92
23 * 5 = 115
23 * 6 = 138
23 * 7 = 161
23 * 8 = 184
23 * 9 = 207
23 * 10 = 230